{
  "openapi": "3.1.0",
  "info": {
    "title": "playerz.bg v1",
    "version": "1.0.0",
    "description": "The native-client API for playerz.bg.\n\nAUTHORED BY HAND, KEPT HONEST BY A RATCHET. `tests/guardrails/openapi-coverage.test.ts` fails the build if a v1 route gains, loses or renames an operation without this file following. It does NOT verify that the schemas below match the DTOs — that would need the DTOs to be runtime values rather than TypeScript interfaces. It catches the failure that actually happens; it is silent about the one it cannot see.\n\nENVELOPE. Success is `{\"data\": T}`; a paged read is `{\"data\": {\"items\": [...], \"nextCursor\": string|null}}`. Errors are `{\"error\": {\"code\", \"message\", \"requestId\"}}`. A client generated against the unwrapped shapes cannot decode anything.\n\nTIMESTAMPS are RFC 3339 with NO fractional seconds. Swift's default `JSONDecoder.DateDecodingStrategy.iso8601` rejects the `.000` that `toISOString()` emits, and it fails at the decoder — naming the whole response rather than the field.\n\nMONEY is always integer cents. Never a float, never a string."
  },
  "servers": [
    {
      "url": "https://playerz.bg/api/v1",
      "description": "production"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "operationId": "authSignIn",
        "summary": "Sign in with email and password (native)",
        "tags": ["Auth"],
        "description": "Exchanges email + password for an access/refresh token pair. This is the native-client equivalent of the web credentials sign-in; both share one throttle bucket keyed `login:<ip>` (10 attempts / 15 min, 15 min lockout), so attempts here draw down the same allowance as the web form — and a SUCCESSFUL sign-in still consumes one attempt (the bucket is never reset).\n\nThe throttle runs BEFORE the body is parsed, so a 429 tells you nothing about the credentials.\n\nThere is no validation error on this endpoint: a missing, malformed or non-JSON body leaves email/password undefined, which falls through to the same opaque 401 as a wrong password. The 401 is deliberately identical for \"no such account\" and \"wrong password\" (and the server burns equal bcrypt time on both), so a client must not try to distinguish them.\n\nOn success the server creates a session row that lives 30 days from THIS moment and attaches the returned refresh token to it.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in. `data.refreshToken` is always a non-null string from this endpoint (the nullable type is shared with POST /auth/refresh). Store `accessToken` and `refreshToken` in the Keychain.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`. Stamped on every v1 response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id; echoed from the request's `x-request-id` when supplied.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTokensResponse"
                }
              }
            }
          },
          "401": {
            "description": "`INVALID_CREDENTIALS` — wrong password, unknown account, or a missing/unparseable body. One message for all cases, by design. NOTE: this body is written inline by the handler and carries NO `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED`. Two independent limiters can produce this, and since #124 both return the same canonical `Error` SHAPE — `code` + `message`, no `requestId`. Only the wording of `message` and the headers differ:\n\n1. The wrapper's default mutation limit (60/min, keyed by client IP alone), which also sets `X-RateLimit-Limit`/`-Remaining`/`-Reset`.\n2. The sign-in throttle shared with the web login (10 per 15 min per IP, 15 min lockout), which sets none of those.\n\nThe body no longer distinguishes them; the presence of the `X-RateLimit-*` headers does. Both set a retry-after header (case differs; HTTP header names are case-insensitive). Honour it: further attempts during a lockout do not extend it.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL` — session creation, refresh-token persistence or token minting failed. Generic message; `requestId` IS present on this one (produced by the error wrapper).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "authRefresh",
        "summary": "Exchange a refresh token for a new access token",
        "tags": ["Auth"],
        "description": "Trades a refresh token for a fresh 15-minute access token, rotating the refresh token in the process.\n\n**Rotation with a 60-second grace window.** The normal case rotates: the presented token becomes the \"previous\" token, a new one is returned, and the old one keeps working for 60 more seconds. Inside that window (or when a concurrent caller loses the compare-and-swap race) the call still succeeds but `data.refreshToken` is **null**, meaning \"keep the token you already have\". This is what makes a burst of simultaneous refreshes — an iOS app resumed from the app switcher — safe: every caller gets a valid access token and they converge on one refresh token.\n\n**Presenting a rotated-away token after the grace window is treated as replay and REVOKES THE WHOLE SESSION.** Never persist a stale refresh token and retry it later.\n\nAll failure reasons (unknown, revoked, expired, stale session version, replay) collapse into one 401 on purpose — a client cannot act differently on any of them, and the only correct response is to discard both tokens and sign in again.\n\nThis endpoint does not rotate the session's access-token binding, so access tokens already in flight keep working.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new access token. `data.refreshToken` is a NEW token to store, or **null** meaning keep the one you already hold — never overwrite stored credentials with null or an empty string. `data.refreshExpiresAt` is the session's fixed deadline and is identical on every response in a session: refreshing buys no extra time.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` — `refreshToken` absent, empty, or the body was not parseable JSON. Written inline by the handler: NO `requestId` in this body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`INVALID_REFRESH_TOKEN`, message \"Sign in again.\" Covers unknown token, revoked session, expired session, a session invalidated by `logout {everywhere:true}` or a password change, AND replay outside the grace window. Discard both tokens and present the sign-in screen. Written inline: NO `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED` from the wrapper's default mutation limit — 60 requests/minute keyed by client IP alone (not per user), shared across every v1 POST/PUT/PATCH/DELETE. Body is the canonical `Error` envelope with no `requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL` — the rotation or the follow-up session read failed. `requestId` present.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "authLogout",
        "summary": "End this session, or every session for the user",
        "tags": ["Auth"],
        "description": "Revokes the session behind the presented access token. With `{\"everywhere\": true}` it instead revokes every session for the user and bumps the user's session version, which invalidates tokens on devices the server has never seen — use that after a password change or a suspected compromise.\n\n**This endpoint always returns 204.** Anonymous callers, expired tokens and already-revoked sessions all get 204: the caller's intent is satisfied either way, and a sign-out button must never be able to fail and spin. Do not branch on the response; clear local credentials unconditionally.\n\nRevoking the session also kills its refresh token — a subsequent POST /auth/refresh with it returns 401.\n\nThe `bearerAuth` requirement below reflects what a client MUST send for this call to do anything; the handler itself does not enforce it and returns 204 without a token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional. Omit entirely (or send no body) for \"this device only\". Must be valid JSON with a JSON content type — a body the server cannot parse is swallowed and silently degrades to this-device-only.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLogoutRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Done, or nothing to do. No body. Returned for a valid session, an anonymous call, an expired or already-revoked token, and a repeated logout.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED` from the wrapper's default mutation limit — 60 requests/minute keyed by client IP alone. Body is the canonical `Error` envelope with no `requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL` — the revocation write failed. `requestId` present. The client should still clear local credentials; retrying is safe because logout is idempotent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues": {
      "get": {
        "operationId": "listVenues",
        "summary": "Search venues",
        "description": "Public, unauthenticated, cross-tenant venue search. Returns ACTIVE venues only, ordered by `id` ascending, paged with an opaque keyset cursor.\n\nThe response is the PAGE envelope: `{\"data\":{\"items\":[...],\"nextCursor\":...}}`.\n\nNo query parameter here is rejected: unparseable numbers fall back to the default and an unknown `sport` reaches the query layer, where it fails as a 500. `limit` is clamped, never refused.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the venue's name OR city.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Case-insensitive EXACT match on city (not a substring match — use `q` for that).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "description": "Keep only venues with at least one ACTIVE resource for this sport. Not validated server-side: a value outside the enum produces a 500.",
            "schema": {
              "$ref": "#/components/schemas/SportType"
            }
          },
          {
            "name": "indoor",
            "in": "query",
            "required": false,
            "description": "Keep only venues with at least one ACTIVE resource whose `isIndoor` matches. Compared against the literal string \"true\": sending `indoor=1` or `indoor=yes` therefore filters for OUTDOOR. Omit the parameter entirely to not filter.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Integer CENTS. Keep only venues with an ACTIVE resource whose `basePriceCents` is <= this. A value of 0 or a non-numeric value is silently ignored rather than rejected.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `nextCursor` from the previous page, passed back verbatim.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Clamped server-side, never rejected: anything above 50 returns 50, anything below 1 (or unparseable) returns the default 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of venues.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. \"2026-04-29\".",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id; matches `error.requestId` on a failure and every server log line for this request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VenueSummaryPage"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`. Reachable from this endpoint by sending a `sport` outside the enum (it is passed through unvalidated), as well as by an ordinary backend failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues/near": {
      "get": {
        "operationId": "findVenuesNear",
        "summary": "Venues near a point",
        "description": "Public, unauthenticated, cross-tenant geo search, ordered by ascending distance and capped at 50 results.\n\nDeliberately NOT paginated: there is no cursor, and `data.paginated` is always false. A distance-ordered cursor cannot be stable while the caller moves, so the way to see more is a larger `radiusKm`.\n\nThe response is the plain `ok()` envelope: `{\"data\":{\"venues\":[...],\"radiusKm\":...,\"maxResults\":...,\"paginated\":false}}`. Note the items are `NearVenue`, not `VenueSummary`.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "WGS-84 latitude. Missing, blank or non-numeric is a 400 `BAD_REQUEST`; outside -90..90 is a 400 `INVALID_COORDINATES`.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "WGS-84 longitude. Missing, blank or non-numeric is a 400 `BAD_REQUEST`; outside -180..180 is a 400 `INVALID_COORDINATES`.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "radiusKm",
            "in": "query",
            "required": false,
            "description": "Search radius in KILOMETRES — note the name is `radiusKm`, not `radius`. Silently clamped, never rejected: above 50 becomes 50; zero, negative or unparseable becomes the default 10. Always read `data.radiusKm` back to learn what was actually searched.",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "description": "Keep only venues with an ACTIVE resource for this sport. Not validated before it reaches SQL: a value outside the enum is a 500.",
            "schema": {
              "$ref": "#/components/schemas/SportType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum venues to return; the server takes min(limit, 50) and defaults to 20 when omitted. Unlike `/venues`, this value is NOT sanitised — a non-numeric or negative `limit` reaches the SQL LIMIT and surfaces as a 500. Send a positive integer or omit it.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Venues within the (possibly clamped) radius, nearest first.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NearVenueResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` when `lat`/`lng` is absent, blank or not a finite number; `INVALID_COORDINATES` when it parses but falls outside -90..90 / -180..180.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`. Reachable by an out-of-enum `sport` or a `limit` that is not a positive integer, both of which reach the database unvalidated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{id}": {
      "get": {
        "operationId": "getVenue",
        "summary": "Venue detail",
        "description": "Public, unauthenticated, cross-tenant venue detail. Wrapped in the `ok()` envelope: `{\"data\": VenueDetail}`.\n\nBy id, never by slug: slugs are unique only within a tenant, so two clubs can both own `central-courts` and a public slug route could not say which it meant. Ids come from `GET /venues` or `GET /venues/near`.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The venue's cuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The venue.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VenueDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — no venue with that id, or the venue is not ACTIVE. A suspended club is indistinguishable from a non-existent one here, deliberately. The body is the error envelope, never `{\"data\":null}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{id}/availability": {
      "get": {
        "operationId": "getVenueAvailability",
        "summary": "Bookable slots for a venue",
        "description": "Public, unauthenticated, cross-tenant. Materialises every candidate slot in a time window for each ACTIVE resource of the venue, including the ones already taken (`available: false`), so a grid can grey them out instead of implying the club is shut. Wrapped in the `ok()` envelope: `{\"data\": VenueAvailability}`.\n\nCHOOSING THE WINDOW — three mutually exclusive forms, resolved by `_lib/range.ts`:\n\n1. `?date=YYYY-MM-DD` (optionally with `?days=`) — the calendar date AT THE CLUB. Both ends are resolved against the VENUE's timezone (each local midnight against that date's real UTC offset), so a window spanning a DST changeover is still a whole number of local days. This exists so a client never computes the window with the DEVICE's calendar: a player in London tapping \"Thursday\" for a Sofia court would otherwise ask for a window shifted by two hours at both ends, with nothing reporting an error.\n2. `?from=` and/or `?to=` — absolute instants, for a caller that genuinely means instants. `from` alone implies `to = from + 24h`; `to` alone implies `from = now`.\n3. Neither — the window is `now` to `now + 24h`.\n\nSending `date` together with `from` or `to` is a 400 rather than a silent preference for one of them. `days` is only read in form 1; with `from`/`to` it is ignored silently.\n\nThe window is capped at 14 days (plus one hour of DST tolerance). `days` cannot exceed that, so `RANGE_TOO_WIDE` is only reachable through `from`/`to`.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The venue's cuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "A calendar date, `YYYY-MM-DD`, interpreted in the VENUE's timezone (not UTC, and not the device's zone). The window runs from local midnight on this date to local midnight `days` later. Mutually exclusive with `from`/`to`.",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of whole VENUE-LOCAL days from `date`. Only meaningful alongside `date` — silently ignored otherwise. Must be an integer 1..14; anything else (including 0, 2.5 or an empty value) is a 400 `BAD_REQUEST`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 14,
              "default": 1
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Absolute start instant, RFC 3339. Mutually exclusive with `date`. Defaults to now when only `to` is given. Parsed with JavaScript `new Date()`, so it also accepts looser forms — notably a bare `YYYY-MM-DD`, which is read as UTC midnight and NOT as a venue-local date; use `date` for that.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Exclusive end instant, RFC 3339. Mutually exclusive with `date`. Defaults to `from + 24h`. Must be strictly after `from`, otherwise 400 `BAD_REQUEST`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "Restrict the response to one resource of this venue. An id that does not belong to the venue (or is not ACTIVE) yields a 200 with an empty `resources` array, not a 404.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resolved window and one slot list per ACTIVE resource.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VenueAvailability"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` for a malformed window: `date` combined with `from`/`to`, a `date` that is not `YYYY-MM-DD`, a `days` outside 1..14 or non-integer, an unparseable `from`/`to`, or `to` not after `from`. `error.details` then carries `{\"field\": \"date\"|\"days\"|\"from\"|\"to\"}`.\n\n`RANGE_TOO_WIDE` when the resolved window exceeds 14 days (plus one hour of DST tolerance) — only reachable via `from`/`to`, and only when the venue has at least one matching ACTIVE resource, since the ceiling is enforced while materialising slots.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — no ACTIVE venue with that id. Checked BEFORE the window is parsed, so a bad date on a missing venue reports the missing venue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`. Besides ordinary failures, the server refuses to answer rather than report availability from a truncated booking list if the window somehow contains more than 50,000 slot-holding bookings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/bookings": {
      "get": {
        "summary": "List my bookings at this club",
        "description": "The caller's OWN bookings at `{slug}`, newest first (ordered by `startTs` descending, then `id` descending).\n\nOwnership is enforced in the SQL `WHERE` clause (`bookedByUserId = ctx.userId`), not filtered after the read. Staff permissions do NOT widen this route — `bookings.view_all` has no effect here; a club admin wanting every booking needs a different route.\n\nPagination is KEYSET, not offset. `nextCursor` is the `id` of the last item on the page; pass it back verbatim as `cursor` and never parse it. `nextCursor` is `null` on the last page.\n\nResponse is WRAPPED twice: `{\"data\":{\"items\":[...],\"nextCursor\":...}}`.\n\nThis route is NOT rate-limited (the wrapper only limits POST/PUT/PATCH/DELETE), so there is no 429 here.",
        "tags": ["Bookings"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug, e.g. `sofia-padel`. The caller must hold a membership for it; the edge middleware answers 403 otherwise.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Clamped server-side: anything absent, non-numeric, or less than 1 becomes 20; anything above 100 becomes 100. An out-of-range value is silently clamped, never rejected.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque keyset cursor — the `nextCursor` from the previous page, passed back verbatim. Omit for the first page. A cursor that no longer resolves to a row yields an empty page rather than an error.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the caller's bookings.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`. Stamped on every v1 response, success included.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id; matches `error.requestId` on failures and every server log line for this request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPageEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a token whose session has been revoked (sign-out-everywhere, password change). Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated, but not a member of `{slug}`. Code `FORBIDDEN`, message `Forbidden` — deliberately indistinguishable from \"no such club\", so this cannot be used to enumerate tenants. Produced by the edge middleware, whose body carries no `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`. Reachable in one non-obvious case: a caller whose JWT membership list was truncated (more clubs than `MAX_JWT_MEMBERSHIPS`) passes the edge as `needs_db_check`, but the request context then resolves no `tenantId`, and the tenant binding throws `MissingTenantError`, which is deliberately absent from the domain error map.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a booking (hold a slot)",
        "description": "Creates a PENDING booking that HOLDS the slot for 15 minutes (`expiresAt`), then releases it. Pay for it with `POST /t/{slug}/bookings/{id}/checkout` before then, or it lapses.\n\n**The `Idempotency-Key` header is REQUIRED, and the server will not generate one.** Only the client knows that two requests are the same tap; a server-generated key would make every network retry a NEW booking, which is the exact double-charge this exists to prevent. A missing or whitespace-only header is a 400 `BAD_REQUEST` with `details.field = \"Idempotency-Key\"`, before the body is even read.\n\n**201 on a genuine create, 200 on an idempotent replay.** Both carry the identical `{\"data\": Booking}` body, so the client must branch on the STATUS CODE, not the payload, to know whether it created something. The key is unique per `(tenant, idempotencyKey)`: on a replay the stored booking is returned and THE REQUEST BODY IS IGNORED ENTIRELY — reusing a key for a different slot silently returns the first booking. Use a fresh UUID per distinct booking attempt, and reuse it only for retries of that same attempt.\n\n**The body NEVER carries a price.** `totalCents` is computed server-side by the same quoting engine the availability endpoint uses, from the resource's base price, opening hours, step grid and pricing rules. A `price`/`totalCents`/`priceCents` field in the body is silently ignored, not rejected.\n\n**The server does not pre-check whether the slot is free.** A Postgres EXCLUDE constraint arbitrates at INSERT time, so a lost race surfaces as 409 `SLOT_TAKEN` — \"retry with fresh availability\", not \"you did something wrong\". This is deliberately distinct from 400 `SLOT_NOT_BOOKABLE`, which means the club never offered that time at all (outside opening hours, off the step grid, not a whole number of billable units, a start that is not on a whole minute, or an ambiguous wall-clock time on a DST fall-back day) and which retrying unchanged can never fix.",
        "tags": ["Bookings"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug. The caller must be a member holding `bookings.create` (every PLAYER does).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "REQUIRED. A client-generated key (a UUID is the expected form) that identifies this booking ATTEMPT, so that a retry after a network stall returns the original booking instead of creating and charging a second one. Unique per `(tenant, key)`; reusing a key returns the booking it first created, whatever this request's body says. Missing, empty or whitespace-only is a 400.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Which slot, never what it costs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay. A booking already existed for this `(tenant, Idempotency-Key)` and is returned unchanged; nothing was created and nothing will be charged twice. The body is byte-identical in shape to the 201.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingEnvelope"
                }
              }
            }
          },
          "201": {
            "description": "Created. A genuine new PENDING booking now holds the slot until `expiresAt`.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "One of:\n\n- `BAD_REQUEST` — the `Idempotency-Key` header is missing/blank (`details.field = \"Idempotency-Key\"`), the body is not JSON, or `resourceId`/`startTs`/`endTs` is missing, blank or not an RFC 3339 instant (`details.field` names it).\n- `SLOT_NOT_BOOKABLE` — the club never offered that span: end not after start, not a whole number of minutes, shorter than `minBookingMinutes`, longer than `maxBookingMinutes`, not a whole number of billable units, a start carrying seconds or fractional seconds, not on the step grid measured FROM OPENING, not inside a single opening window, or an ambiguous local wall clock (the repeated hour on a DST fall-back day). The `message` says which. Retrying the same body can never succeed.\n- `INVALID_BOOKING_SPAN` — mirrors the database CHECK constraint: end not after start, or a span longer than 4 hours.\n- `GUEST_CONTACT_REQUIRED` — a booking must be attributable to someone. Not reachable on this authenticated route (the caller's user id is always supplied); listed because the mapping exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a revoked session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`. Either not a member of `{slug}`, or a member lacking `bookings.create` — in the latter case the edge middleware adds `details.requiredPermission = \"bookings.create\"`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `NOT_FOUND`. No such resource, a resource belonging to another club, or a resource whose venue is not ACTIVE — all three are deliberately indistinguishable, so this cannot probe other clubs' courts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "One of:\n\n- `SLOT_TAKEN` — another player's INSERT won the race for this exact span. The request was fine; the world moved. Refresh availability and offer another slot. Do NOT blind-retry with the same body.\n- `IDEMPOTENCY_RACE` — two requests carrying the SAME `Idempotency-Key` are in flight. Genuinely rare (it needs two concurrent retries of one tap). Re-issue the identical request; the replay path will then find the winner's row and return it with 200.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. The default mutation budget is 60 requests per 60 seconds, keyed by client IP (this route does not supply a user-id resolver, so the budget is shared across ALL v1 mutations from that IP — which behind carrier NAT is shared across users). The body is the canonical `Error` envelope and omits `error.requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying, minimum 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests permitted per window (60).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Always `0` on this response.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, with a generic message — the server fails closed on disclosure for anything unclassified. Covers a truncated-membership caller whose tenant could not be resolved (`MissingTenantError`), and any unmapped database or infrastructure failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/bookings/{id}/cancel": {
      "post": {
        "summary": "Cancel a booking and quote its refund",
        "description": "Cancels a PENDING or CONFIRMED booking and returns the refund QUOTE resolved against the club's cancellation policy at this instant.\n\n**This endpoint does not move money.** It sets the booking to CANCELLED, writes a Cancellation receipt with the resolved percentage frozen onto it, and returns what that receipt says. Issuing the actual Stripe refund is a separate operation. A client must not tell the user \"refunded\" — only \"refund of X due\".\n\n**Ownership is checked here, not by the permission.** `bookings.cancel` is held by every PLAYER, so the middleware only establishes that the caller may cancel SOMETHING at this club. This handler then loads the caller's OWN booking — unless they hold `bookings.view_all`, in which case staff may cancel on a player's behalf (the front desk taking a phone call). Someone else's booking answers 404, never 403: a 403 would confirm the booking exists and let a club's reservations be enumerated one id at a time.\n\n**Cancelling twice is a 409, not a no-op.** Each call writes a fresh Cancellation row and recomputes the refund from the CURRENT hours-until-start, so a second call would produce two receipts for one booking that disagree about the amount.\n\nThe request body is optional; a body-less POST is the common case and is not an error.",
        "tags": ["Bookings"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug. The caller must be a member holding `bookings.cancel`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The booking id. Must be the caller's own booking, unless the caller holds `bookings.view_all`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional. A missing body, an empty body, or a body that is not valid JSON are all accepted and treated as \"no reason given\" — requiring JSON for a plain \"cancel\" tap would be ceremony. A non-string `reason` is silently ignored rather than rejected.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled. The body is the refund quote that was written onto the Cancellation receipt.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelQuoteEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a revoked session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`. Not a member of `{slug}`, or a member lacking `bookings.cancel` (then `details.requiredPermission = \"bookings.cancel\"`). Note that cancelling SOMEONE ELSE'S booking is a 404 here, not a 403.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `NOT_FOUND`. No such booking at this club, or a booking that is not the caller's (and the caller is not staff). The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Code `CONFLICT`. Either the booking is already CANCELLED (`This booking is already cancelled`), or it is in a state that cannot be cancelled at all — COMPLETED or NO_SHOW (`A completed booking cannot be cancelled`). Only PENDING and CONFIRMED are cancellable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. 60 mutations per 60 seconds, keyed by client IP and shared across all v1 mutations from that IP. The body is the canonical `Error` envelope and omits `error.requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying, minimum 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests permitted per window (60).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Always `0` on this response.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message. Includes the truncated-membership case where no tenant could be resolved, and any unmapped failure while writing the cancellation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/bookings/{id}/checkout": {
      "post": {
        "summary": "Pay for a booking (wallet, card, or both)",
        "description": "Starts payment for a PENDING booking. Credit is spent first, and only the remainder is charged to a card.\n\n**Read `confirmed` before doing anything else.**\n\n- `confirmed: true` — wallet credit covered the whole price. `cardDueCents` is 0 and `paymentIntentId` / `clientSecret` are both `null`. The booking has ALREADY been confirmed inline by this call. **Do NOT present a PaymentSheet**; go straight to the success screen. (No zero-amount PaymentIntent is created, because Stripe rejects those — and without this inline confirmation there would be no `payment_intent.succeeded` webhook, so a fully-credit-paid booking would sit PENDING until its slot expired.)\n- `confirmed: false` — `cardDueCents` is greater than 0 and `clientSecret` is non-null. Present the PaymentSheet with `clientSecret` and `publishableKey`. The booking is confirmed later, by the Stripe webhook; this response does NOT mean it is paid.\n\n**Show the split.** When `walletAppliedCents > 0` and `cardDueCents > 0`, the card amount is LESS than the booking total. Rendering the card amount alone next to the booking price looks like a bug to the user, which is why both numbers are returned: \"€10.00 from credit, €14.00 on card\".\n\n**`useWallet` is opt-in and strict.** Only the literal JSON `true` spends credit. A missing body, an unparseable body, `false`, `\"true\"`, or `1` all mean card-only — spending someone's credit because a field was omitted would be taking a decision that is theirs.\n\n**Own bookings only, with no staff escape hatch.** Unlike cancel, `bookings.view_all` grants nothing here: a manager must not be able to charge a player's saved card. Someone else's booking answers 404, not 403.\n\nCalling this twice on the same booking is safe on the card path — the Stripe idempotency key is derived from `booking id + amount due`, so a second tap returns the SAME PaymentIntent rather than charging twice.",
        "tags": ["Bookings", "Payments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug. The caller must be a member holding `bookings.create` (the permission gating this route — it only establishes that a random member cannot POST it; ownership is enforced in the handler).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The booking id. Must belong to the calling user; staff permissions do not widen this.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional. A missing, empty or non-JSON body means `useWallet: false` (card only).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout prepared. Branch on `confirmed`: `true` means paid in full from credit and already confirmed (no PaymentSheet); `false` means present the PaymentSheet with `clientSecret`.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a revoked session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`. Not a member of `{slug}`, or a member lacking `bookings.create` (then `details.requiredPermission = \"bookings.create\"`). Paying for someone else's booking is a 404, not a 403.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `NOT_FOUND`. No such booking at this club, or a booking that is not the caller's — deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "One of:\n\n- `CONFLICT` — the booking is not PENDING. `This booking is already paid for` when it is CONFIRMED; `A cancelled booking cannot be paid for` (or completed / no_show) otherwise. A PENDING booking whose `expiresAt` has passed may also have been released by then.\n- `PAYOUTS_NOT_ENABLED` — the club has not finished Stripe Connect onboarding, so it cannot receive a destination charge. Checked BEFORE a card is requested, so the user is never shown a payment failure caused by the club's incomplete setup. The client cannot fix this; surface it as \"this club can't take payments yet\".",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. 60 mutations per 60 seconds, keyed by client IP and shared across all v1 mutations from that IP. The body is the canonical `Error` envelope and omits `error.requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying, minimum 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests permitted per window (60).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Always `0` on this response.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message. Covers the truncated-membership case with no resolvable tenant, a Stripe API failure while creating the PaymentIntent, and `LedgerIsolationError` (the credit ledger demanded SERIALIZABLE and did not get it) — all deliberately unmapped, so the client learns nothing about internals. Retry is reasonable; the Stripe idempotency key prevents a double charge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/me": {
      "get": {
        "operationId": "getTenantMe",
        "summary": "Who am I at this club",
        "tags": ["Tenant"],
        "description": "Resolves the caller's identity **and their membership of the club addressed by `{slug}`**, reading the membership authoritatively from the database rather than from the bearer token's claims.\n\nThe token's `memberships` array is a mint-time snapshot: an access token lives 15 minutes and its refresh token 30 days, and nothing re-mints the claims in between. This endpoint therefore re-reads the membership and reports the disagreement via `data.tokenStale`.\n\n**`tokenStale` handling (important for a native client).** `tokenStale` is `true` when the token's tenant id or role for this slug differs from the database — including the case where the token carries no membership for this slug at all. It is **not** an error and the rest of the payload is still correct. The client should refresh its access token (so the edge middleware, which authorises mutations from claims alone and never consults the database, stops working from a stale role) and then continue. Do not surface it to the user, and do not retry this call in a loop expecting it to flip on its own — only a token refresh clears it.\n\n**404, not 403.** When the caller holds no `ACTIVE` membership for this slug the handler answers `404 NOT_FOUND` with the message `Not found.`, deliberately making \"no such club\" and \"you are not a member of it\" indistinguishable so the endpoint cannot be used to enumerate tenants. Note that a `403 FORBIDDEN` is still possible for a non-member, but it comes from the edge middleware *before* this handler runs — see the 403 response.\n\nMemberships whose status is not `ACTIVE` (`INVITED`, `SUSPENDED`, `EXPIRED`) are filtered out by the query and therefore also produce a 404.\n\nRead-only; no rate limit applies (the shared wrapper rate-limits mutating methods only).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug, as it appears in `/t/{slug}/…`.",
            "schema": {
              "type": "string",
              "examples": ["slot-club-sofia"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's identity, the club, and the membership held at it.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`. Set on every response from a wrapped v1 route.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id, matching the id in the server logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "No usable session. Either the edge middleware saw no token (`{\"error\":{\"code\":\"UNAUTHORIZED\",\"message\":\"Authentication required\"}}`), or the token verified but its session row has been revoked/superseded — a password change, a \"sign out everywhere\", a stolen-device eviction — in which case the handler answers `{\"error\":{\"code\":\"UNAUTHORIZED\",\"message\":\"Authentication required.\"}}`. Neither body carries `requestId`. The client should refresh, and re-authenticate if the refresh also fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Refused by the edge middleware before the handler ran: the token carries a complete membership list that does not include this slug. Code `FORBIDDEN`, message `Forbidden`, no `requestId`, and none of the `X-API-Version`/`x-request-id` headers (the middleware runs on the Edge runtime and does not go through the API wrapper). A non-member whose token list was *truncated* (more clubs than fit in the token) is let through instead and receives the 404 below.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No `ACTIVE` membership for this user at this slug — which also covers \"no such club\", deliberately indistinguishable. Code `NOT_FOUND`, message `Not found.`; the body carries no `requestId` (the `x-request-id` response header is still set).",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unclassified server-side failure (for example the membership read failing). Code `INTERNAL` with a generic message — details are never disclosed. `requestId` is present and matches the `x-request-id` header.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/connect/onboarding": {
      "post": {
        "operationId": "startConnectOnboarding",
        "summary": "Start or resume Stripe Connect onboarding",
        "tags": ["Payouts"],
        "description": "Creates the club's Stripe Express connected account if it does not have one, then mints a **fresh, short-lived** Stripe-hosted onboarding link and returns it. Until a club has both a `stripeAccountId` and `payoutsEnabled`, checkout for its bookings fails with `PAYOUTS_NOT_ENABLED`.\n\n**Requires `admin.billing_manage`** — held by `OWNER` and `MANAGER` only. This is enforced twice: by the edge route-permission table (`/api/v1/t/:slug/connect/*` on any mutating verb) and again in the handler from the role held *at this slug*. Neither check reads the token's flat `permissions` claim.\n\n**No request body.** The handler reads nothing from the body; anything sent is ignored. `return_url` and `refresh_url` are built server-side from `NEXTAUTH_URL` on purpose — a caller-supplied return URL would be an open redirect dressed as the last step of our own flow.\n\n**`payoutsEnabled` is NOT set by this call.** It is echoed from the stored venue row and stays `false` until Stripe's `account.updated` webhook says otherwise. Finishing the onboarding form is not the same as Stripe having accepted the club's identity documents. A client that treats a 200 here, or a return to `?onboarding=complete`, as \"payouts are live\" will show a club it can take money it cannot be paid. Poll `payoutsEnabled` from the club's own state, never infer it from this response.\n\n**Idempotency.** Calling this repeatedly is safe: the stored `stripeAccountId` is reused, and account creation carries a tenant-derived idempotency key so two simultaneous first calls resolve to one Stripe account. Every call returns a *new* `onboardingUrl` (Stripe's links expire), so the URL must not be cached. `created` distinguishes the call that created the account from the ones that reused it.\n\nIt is a POST rather than a GET precisely because the first call has an external, non-reversible side effect that must not sit behind a verb a browser, crawler or prefetcher will follow on its own.\n\nRate-limited as a mutation (see the 429 response).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug, as it appears in `/t/{slug}/…`.",
            "schema": {
              "type": "string",
              "examples": ["slot-club-sofia"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding started or resumed. Send the admin to `data.onboardingUrl`.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectOnboardingStartResponse"
                }
              }
            }
          },
          "401": {
            "description": "No usable session — either no token at the edge (`UNAUTHORIZED`, `Authentication required`, no `requestId`) or a verified token whose session has been revoked, in which case the handler throws and the body carries `code: \"UNAUTHORIZED\"`, `message: \"Authentication required\"` and a `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed to manage payouts at this club. Two distinguishable sources: the edge middleware answers `FORBIDDEN` with `details: {\"requiredPermission\": \"admin.billing_manage\"}` and no `requestId` (this also covers a non-member with a complete token membership list, where the message is a bare `Forbidden`); the handler answers `FORBIDDEN` with `Managing payouts requires billing permission` and a `requestId`. A `STAFF`, `COACH` or `PLAYER` member always lands here, as does any caller whose token carries no membership for this slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The tenant row named by the caller's membership claim no longer exists, so the venue lookup finds nothing. Code `NOT_FOUND`, message `Resource not found or already deleted`. Reachable when a club is deleted while a token that still lists it is in flight; the client should refresh its token.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Mutation rate limit exhausted (keyed on client IP plus, where known, user). Code `RATE_LIMITED`. The body is the canonical `Error` envelope, produced by the rate-limit middleware, and carries no `requestId`. Respect `Retry-After` rather than retrying immediately.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying; always at least 1.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the budget resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Stripe rejected or could not be reached (account creation or link creation), Stripe is not configured (`code: \"CONFIGURATION_ERROR\"`), or another unclassified failure (`code: \"INTERNAL\"`). The message is always generic — nothing about the failure is disclosed. Because account creation carries an idempotency key, retrying after a 500 will not orphan a second Stripe account.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/sso/entra/group-mappings": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "description": "The club's tenant slug, exactly as it appears in the caller's membership. A slug the caller holds no membership for is 403 — never 404, because \"no such club\" and \"not a member of it\" must be indistinguishable or this becomes a tenant-enumeration oracle.",
          "schema": {
            "type": "string"
          },
          "examples": {
            "club": {
              "value": "slot-club-sofia"
            }
          }
        }
      ],
      "get": {
        "operationId": "listEntraGroupMappings",
        "summary": "List Entra group → role mappings",
        "tags": ["SSO"],
        "description": "Every Entra security group mapped to a role at this club, ordered by `priority` DESC then `createdAt` ASC.\n\nRequires `sso.manage`, which only OWNER holds (MANAGER deliberately does not: a MANAGER could otherwise map a directory group they administer to MANAGER and mint peers at will).\n\nENFORCEMENT NOTE: the edge middleware does NOT gate this read — `requiredPermission()` returns null for non-mutating methods — so the permission is checked in the handler (`requireSsoManage`). The list is sensitive not because it holds secrets but because it is reconnaissance: it is a map of which directory groups confer administrative access to this club.\n\nThe response is the `ok()` envelope wrapping a BARE ARRAY (`{\"data\": [ ... ]}`), not the `page()` shape. The underlying query takes at most 200 rows and there is no cursor.\n\nNot rate-limited: the wrapper only rate-limits POST/PUT/PATCH/DELETE.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The club's mappings. May be an empty array.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, set on every wrapped v1 response (currently `2026-04-29`). Informational — the server does not branch on a request version.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntraGroupMappingListEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "No usable session. Code `UNAUTHORIZED`. Produced by the edge middleware for an anonymous caller on any `/api/v1/t/{slug}/**` path, and by the handler (`UnauthorizedError`) when the token verified but its session was revoked — `contextFromRequest` degrades a revoked session to anonymous. The edge variant carries no `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`. Either the caller holds no membership for `slug` (edge middleware; message `Forbidden`, and an unknown club looks identical) or they are a member without `sso.manage` (handler `ForbiddenError`; message `Managing SSO group mappings requires the club owner`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message. Database or infrastructure failure; nothing on this path is classified in DOMAIN_ERROR_MAP as a 5xx.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEntraGroupMapping",
        "summary": "Map an Entra group to a role",
        "tags": ["SSO"],
        "description": "Create one mapping: everyone in the named Entra security group is granted `role` at this club from their next sign-in, subject to `priority` when several mapped groups match.\n\nRequires `sso.manage` (OWNER only), enforced twice — at the edge by ROUTE_PERMISSIONS and again in the handler.\n\nThe write and its audit entry share one transaction, so a mapping cannot exist without its audit record.\n\nDuplicate detection is arbitrated by the `@@unique([tenantId, aadGroupId])` index, not by a read-then-write, so two admins adding the same group concurrently produce exactly one row and one 409.\n\nRate-limited: mutating verbs go through the wrapper's default `API_MUTATION_LIMIT`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntraGroupMappingCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. The body is the `ok()` envelope around the stored row — read `aadGroupId` back from it, since it has been lower-cased. No `Location` header is set.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker set on every wrapped v1 response.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntraGroupMappingEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Code `BAD_REQUEST`. Either the body was not JSON (`Body must be JSON`) or it failed validation (`Invalid group mapping`), in which case `details` is `{\"issues\": [ ... ]}` — the raw Zod issue array, each entry carrying `path`, `code` and `message`.\n\nThis is what `\"role\": \"OWNER\"` returns: the Zod enum rejects it before the use case is reached, so the code is `BAD_REQUEST`, NOT `ROLE_NOT_MAPPABLE`.\n\nCode `ROLE_NOT_MAPPABLE` (also 400) is defined in DOMAIN_ERROR_MAP for `RoleNotMappableError`, thrown by `assertMappable()` in the use case. That guard exists for callers that bypass this schema (seed scripts, jobs, a future admin tool) and is unreachable through this HTTP route today. A generated client should still handle it: it means the role can never be granted by a directory group, so retrying the same body cannot succeed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No usable session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`. Not a member of `slug`, or a member without `sso.manage` (OWNER only). When the edge middleware denies it, `details` is `{\"requiredPermission\": \"sso.manage\"}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Code `DUPLICATE_GROUP_MAPPING` — that Entra group is already mapped at this club (one mapping per group per club; two rows would make the winner depend on scan order). Edit or delete the existing mapping instead. NOTE: if the SQLSTATE cannot be recovered from the driver error, the same collision surfaces with the generic code `CONFLICT`; a client should treat both 409 codes as \"already mapped\".",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. The mutation budget for this caller/IP is exhausted. The error object carries `code` and `message` only, with no `requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Integer seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the budget resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message. Database or audit-write failure; the transaction is rolled back, so no mapping is created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/sso/entra/group-mappings/{mappingId}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "description": "The club's tenant slug. A slug the caller holds no membership for is 403, never 404.",
          "schema": {
            "type": "string"
          },
          "examples": {
            "club": {
              "value": "slot-club-sofia"
            }
          }
        },
        {
          "name": "mappingId",
          "in": "path",
          "required": true,
          "description": "The mapping's `id` as returned by the list or create operation — a cuid, NOT a UUID. The lookup is scoped to the tenant, so an id belonging to another club is 404 `MAPPING_NOT_FOUND`, indistinguishable from an id that never existed.",
          "schema": {
            "type": "string"
          },
          "examples": {
            "mapping": {
              "value": "clz3k9q1p0001s601f8m2h7xa"
            }
          }
        }
      ],
      "patch": {
        "operationId": "updateEntraGroupMapping",
        "summary": "Update a group mapping",
        "tags": ["SSO"],
        "description": "Partially update one mapping. Only `aadGroupName`, `role` and `priority` can change; `aadGroupId` is immutable through this API.\n\nRequires `sso.manage` (OWNER only), enforced at the edge and again in the handler.\n\nThe row is read before it is written so the audit entry can record the BEFORE state (role and priority), not just the new value — an entry that records only what it is now answers a question anyone can answer by looking.\n\nThere is no 409 on this operation: since `aadGroupId` cannot be changed, there is no unique-constraint path to collide on.\n\nRate-limited by the wrapper's default mutation limit.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntraGroupMappingUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated. The body is the `ok()` envelope around the full row after the write, with a refreshed `updatedAt`.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker set on every wrapped v1 response.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntraGroupMappingEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Code `BAD_REQUEST`. The body was not JSON (`Body must be JSON`), or validation failed (`Invalid group mapping`) with `details` = `{\"issues\": [ ... ]}`. Empty objects, bodies whose only keys are unknown (including `aadGroupId`), `\"role\": \"OWNER\"`, a `priority` outside [0, 1000] or non-integer, and an explicit `null` name all land here.\n\nCode `ROLE_NOT_MAPPABLE` (400) is mapped for `RoleNotMappableError` from the use case's `assertMappable()`, but the Zod enum rejects OWNER first, so it is unreachable through this route today.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No usable session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`. Not a member of `slug`, or a member without `sso.manage` (OWNER only). From the edge, `details` is `{\"requiredPermission\": \"sso.manage\"}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `MAPPING_NOT_FOUND`, message `No such group mapping.` — no mapping with that id exists at this club. The lookup is `findFirst({ id, tenantId })`, so another club's mapping id is reported identically. Authorisation is checked before the lookup, so this cannot be used to probe ids without `sso.manage`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. The error object carries `code` and `message` only, with no `requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Integer seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the budget resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message. Database or audit-write failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEntraGroupMapping",
        "summary": "Delete a group mapping",
        "tags": ["SSO"],
        "description": "Remove one mapping. Everyone whose role came from this group stops being granted it at their next sign-in — a silent mass revocation that tends to present as \"SSO is broken\" rather than as a change somebody made, which is why DELETE is gated exactly as hard as POST and why the audit entry carries the FULL before-state (`aadGroupId`, `aadGroupName`, `role`, `priority`): once the row is gone, that entry is the only remaining evidence the group ever granted anything.\n\nRequires `sso.manage` (OWNER only), enforced at the edge and again in the handler.\n\nNot idempotent in the usual REST sense: a second DELETE of the same id returns 404, not 204.\n\nRate-limited by the wrapper's default mutation limit.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted. NO BODY — `noContent()` returns a bare 204, so there is no envelope to decode. A generated client must not attempt to parse a response body here.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker set on every wrapped v1 response, 204 included.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "No usable session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`. Not a member of `slug`, or a member without `sso.manage` (OWNER only). From the edge, `details` is `{\"requiredPermission\": \"sso.manage\"}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `MAPPING_NOT_FOUND`, message `No such group mapping.` — no mapping with that id exists at this club, or it was already deleted. Another club's mapping id is reported identically.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. The error object carries `code` and `message` only, with no `requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Integer seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the budget resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message. Database or audit-write failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/realtime/token": {
      "post": {
        "operationId": "createRealtimeToken",
        "summary": "Mint a short-lived Centrifugo connection token",
        "description": "Returns a 15-minute HS256 JWT the client presents to Centrifugo when opening its WebSocket, together with the broker URL so no second config call is needed.\n\nThe connection is per-PERSON, not per-club: there is no tenant slug in the path, and one socket carries every club the user belongs to. The token carries only `sub`, `iat` and `exp` — it is NOT a capability list. What the holder may actually subscribe to is decided per subscription by Centrifugo's subscribe proxy against the database at subscribe time, so a token minted before the user was removed from a conversation does not keep them reading it. The TTL is the revocation window; a token cannot be revoked, so the client must refresh before `expiresInSeconds` elapses.\n\nThe handler reads no request body. Send an empty POST.\n\nAuthentication is `Authorization: Bearer <jwe>` for a native client; a browser session cookie is equally accepted by the same code path.",
        "tags": ["Realtime"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A token that is valid for `expiresInSeconds` seconds.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, stamped on every wrapped v1 response including successes.",
                "schema": {
                  "type": "string",
                  "examples": ["2026-04-29"]
                }
              },
              "x-request-id": {
                "description": "Correlation id; the same value appears in every server log line for this request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeTokenEnvelope"
                }
              }
            }
[...]
