{
  "openapi": "3.1.0",
  "info": {
    "title": "playerz.bg v1",
    "version": "1.0.0",
    "description": "The native-client API for playerz.bg.\n\nAUTHORED BY HAND, KEPT HONEST BY A RATCHET. `tests/guardrails/openapi-coverage.test.ts` fails the build if a v1 route gains, loses or renames an operation without this file following. It does NOT verify that the schemas below match the DTOs — that would need the DTOs to be runtime values rather than TypeScript interfaces. It catches the failure that actually happens; it is silent about the one it cannot see.\n\nENVELOPE. Success is `{\"data\": T}`; a paged read is `{\"data\": {\"items\": [...], \"nextCursor\": string|null}}`. Errors are `{\"error\": {\"code\", \"message\", \"requestId\"}}`. A client generated against the unwrapped shapes cannot decode anything.\n\nTIMESTAMPS are RFC 3339 with NO fractional seconds. Swift's default `JSONDecoder.DateDecodingStrategy.iso8601` rejects the `.000` that `toISOString()` emits, and it fails at the decoder — naming the whole response rather than the field.\n\nMONEY is always integer cents. Never a float, never a string."
  },
  "servers": [
    {
      "url": "https://playerz.bg/api/v1",
      "description": "production"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Sign-in, refresh and sign-out. The only operations a client may call before it has a token."
    },
    {
      "name": "Bookings",
      "description": "A club's bookings, scoped to the caller's membership in that club."
    },
    {
      "name": "Desk",
      "description": "The club's front desk (#364): bookings for walk-in and phone customers, weekly series for regulars, and the player lookup behind linking one. Staff holding `bookings.view_all` only."
    },
    {
      "name": "Devices",
      "description": "APNs device registration for push. A device belongs to a person, not a club."
    },
    {
      "name": "Internal",
      "description": "Called by infrastructure, not by a person. EXCLUDED from the generated client — see openapi/README.md."
    },
    {
      "name": "Me",
      "description": "The signed-in person, across every club: their account kind and landing reason, and their own bookings everywhere. Addresses no club, so no slug and no permission — only a session. Also their notifications (the bell) and which emails they get."
    },
    {
      "name": "Payments",
      "description": "Stripe Checkout for a booking. Money is always integer cents."
    },
    {
      "name": "Payouts",
      "description": "Stripe Connect onboarding, for a club taking its own payments."
    },
    {
      "name": "Platform",
      "description": "Cross-club administration, authorised by a row in platform_admin_grant rather than by a role. EXCLUDED from the generated client — see openapi/README.md. Every operation here is recorded in an append-only audit row naming the actor, the grant, the capability and a stated reason BEFORE the work runs; there is no way to call one without leaving that record."
    },
    {
      "name": "Realtime",
      "description": "Centrifugo connection tokens and channel authorisation."
    },
    {
      "name": "Tenant",
      "description": "Who the caller is inside one club: membership, role, permissions."
    },
    {
      "name": "Venues",
      "description": "Public discovery. Spans every club by design and needs no membership."
    },
    {
      "name": "Billing",
      "description": "The club fee (#372): a club's monthly statement of playerz's fee on its played online bookings, as JSON and as a CSV. OWNER and MANAGER (`admin.billing_manage`) only."
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "operationId": "authSignIn",
        "summary": "Sign in with email and password (test runs only)",
        "tags": ["Auth"],
        "description": "**Has no grant in production or staging (#361).** Everyone signs in with Google or Facebook; email + password exists for the test suites only (`TEST_PASSWORD_SIGN_IN=1` with `DEPLOY_ENV=test`). In every deployment this endpoint answers `403 PASSWORD_SIGN_IN_DISABLED` to every request, before the throttle and before reading the body. The native client's way in will be a Google or Facebook token exchange (#444); until then there is none.\n\nIn a test run: exchanges email + password for an access/refresh token pair. This is the native-client equivalent of the web credentials sign-in; both share one throttle bucket keyed `login:<ip>` (10 attempts / 15 min, 15 min lockout), so attempts here draw down the same allowance as the web form — and a SUCCESSFUL sign-in still consumes one attempt (the bucket is never reset).\n\nThe throttle runs BEFORE the body is parsed, so a 429 tells you nothing about the credentials.\n\nThere is no validation error on this endpoint: a missing, malformed or non-JSON body leaves email/password undefined, which falls through to the same opaque 401 as a wrong password. The 401 is deliberately identical for \"no such account\" and \"wrong password\" (and the server burns equal bcrypt time on both), so a client must not try to distinguish them.\n\nOn success the server creates a session row that lives 30 days from THIS moment and attaches the returned refresh token to it.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in. `data.refreshToken` is always a non-null string from this endpoint (the nullable type is shared with POST /auth/refresh). Store `accessToken` and `refreshToken` in the Keychain.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`. Stamped on every v1 response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id; echoed from the request's `x-request-id` when supplied.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTokensResponse"
                }
              }
            }
          },
          "401": {
            "description": "`INVALID_CREDENTIALS` — wrong password, unknown account, or a missing/unparseable body. One message for all cases, by design. NOTE: this body is written inline by the handler and carries NO `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`PASSWORD_SIGN_IN_DISABLED` — every request, in production and on staging (#361): password sign-in exists for the test suites only, and this endpoint has no other grant yet (#444). Written inline before anything else runs: no throttle is drawn, the body is not read, and the body carries NO `requestId`. Not retryable; there is nothing to fix on the client side.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED`. Two independent limiters can produce this, and since #124 both return the same canonical `Error` SHAPE — `code` + `message`, no `requestId`. Only the wording of `message` and the headers differ:\n\n1. The wrapper's default mutation limit (60/min, keyed by client IP alone), which also sets `X-RateLimit-Limit`/`-Remaining`/`-Reset`.\n2. The sign-in throttle shared with the web login (10 per 15 min per IP, 15 min lockout), which sets none of those.\n\nThe body no longer distinguishes them; the presence of the `X-RateLimit-*` headers does. Both set a retry-after header (case differs; HTTP header names are case-insensitive). Honour it: further attempts during a lockout do not extend it.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL` — session creation, refresh-token persistence or token minting failed. Generic message; `requestId` IS present on this one (produced by the error wrapper).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "authRefresh",
        "summary": "Exchange a refresh token for a new access token",
        "tags": ["Auth"],
        "description": "Trades a refresh token for a fresh 15-minute access token, rotating the refresh token in the process.\n\n**Rotation with a 60-second grace window.** The normal case rotates: the presented token becomes the \"previous\" token, a new one is returned, and the old one keeps working for 60 more seconds. Inside that window (or when a concurrent caller loses the compare-and-swap race) the call still succeeds but `data.refreshToken` is **null**, meaning \"keep the token you already have\". This is what makes a burst of simultaneous refreshes — an iOS app resumed from the app switcher — safe: every caller gets a valid access token and they converge on one refresh token.\n\n**Presenting a rotated-away token after the grace window is treated as replay and REVOKES THE WHOLE SESSION.** Never persist a stale refresh token and retry it later.\n\nAll failure reasons (unknown, revoked, expired, stale session version, replay) collapse into one 401 on purpose — a client cannot act differently on any of them, and the only correct response is to discard both tokens and sign in again.\n\nThis endpoint does not rotate the session's access-token binding, so access tokens already in flight keep working.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new access token. `data.refreshToken` is a NEW token to store, or **null** meaning keep the one you already hold — never overwrite stored credentials with null or an empty string. `data.refreshExpiresAt` is the session's fixed deadline and is identical on every response in a session: refreshing buys no extra time.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` — `refreshToken` absent, empty, or the body was not parseable JSON. Written inline by the handler: NO `requestId` in this body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`INVALID_REFRESH_TOKEN`, message \"Sign in again.\" Covers unknown token, revoked session, expired session, a session invalidated by `logout {everywhere:true}` or a password change, AND replay outside the grace window. Discard both tokens and present the sign-in screen. Written inline: NO `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED` from the wrapper's default mutation limit — 60 requests/minute keyed by client IP alone (not per user), shared across every v1 POST/PUT/PATCH/DELETE. Body is the canonical `Error` envelope with no `requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL` — the rotation or the follow-up session read failed. `requestId` present.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "authLogout",
        "summary": "End this session, or every session for the user",
        "tags": ["Auth"],
        "description": "Revokes the session behind the presented access token. With `{\"everywhere\": true}` it instead revokes every session for the user and bumps the user's session version, which invalidates tokens on devices the server has never seen — use that after a password change or a suspected compromise.\n\n**This endpoint always returns 204.** Anonymous callers, expired tokens and already-revoked sessions all get 204: the caller's intent is satisfied either way, and a sign-out button must never be able to fail and spin. Do not branch on the response; clear local credentials unconditionally.\n\nRevoking the session also kills its refresh token — a subsequent POST /auth/refresh with it returns 401.\n\nThe `bearerAuth` requirement below reflects what a client MUST send for this call to do anything; the handler itself does not enforce it and returns 204 without a token.\n\n**Authentication is optional, and the response is always 204.** A missing, expired or already-revoked token is not an error: the caller wanted the session gone and it is gone. Returning 401 would invite clients to treat sign-out as retryable, which is how a sign-out button ends up spinning for ever. The edge treats this path as public for the same reason.",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional. Omit entirely (or send no body) for \"this device only\". Must be valid JSON with a JSON content type — a body the server cannot parse is swallowed and silently degrades to this-device-only.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLogoutRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Done, or nothing to do. No body. Returned for a valid session, an anonymous call, an expired or already-revoked token, and a repeated logout.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "`RATE_LIMITED` from the wrapper's default mutation limit — 60 requests/minute keyed by client IP alone. Body is the canonical `Error` envelope with no `requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL` — the revocation write failed. `requestId` present. The client should still clear local credentials; retrying is safe because logout is idempotent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues": {
      "get": {
        "operationId": "listVenues",
        "summary": "Search venues",
        "description": "Public, unauthenticated, cross-tenant venue search. Returns ACTIVE venues only, ordered by `id` ascending, paged with an opaque keyset cursor.\n\nThe response is the PAGE envelope: `{\"data\":{\"items\":[...],\"nextCursor\":...}}`.\n\nOnly `sport` is ever rejected: a value outside the SportType enum is a 400 `BAD_REQUEST` (#334). Unparseable numbers fall back to the default, and `limit` is clamped, never refused.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match against the venue's name OR city. A query that is part of a known Bulgarian city's name in either script (e.g. `соф`) also matches venues stored under any spelling of that city.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Case-insensitive EXACT match on city (not a substring match — use `q` for that). A known Bulgarian city matches every spelling a club may have stored, Latin or Cyrillic: `Sofia` also finds venues stored as `София`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "description": "Keep only venues with at least one ACTIVE resource for this sport. A value outside the enum is a 400 `BAD_REQUEST`.",
            "schema": {
              "$ref": "#/components/schemas/SportType"
            }
          },
          {
            "name": "indoor",
            "in": "query",
            "required": false,
            "description": "Keep only venues with at least one ACTIVE resource whose `isIndoor` matches. Compared against the literal string \"true\": sending `indoor=1` or `indoor=yes` therefore filters for OUTDOOR. Omit the parameter entirely to not filter.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "description": "Integer CENTS. Keep only venues with an ACTIVE resource whose `basePriceCents` is <= this. A value of 0 or a non-numeric value is silently ignored rather than rejected.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `nextCursor` from the previous page, passed back verbatim.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Clamped server-side, never rejected: anything above 50 returns 50, anything below 1 (or unparseable) returns the default 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of venues.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. \"2026-04-29\".",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id; matches `error.requestId` on a failure and every server log line for this request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VenueSummaryPage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` when `sport` is not a SportType value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`. Reachable from this endpoint by sending a `sport` outside the enum (it is passed through unvalidated), as well as by an ordinary backend failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues/near": {
      "get": {
        "operationId": "findVenuesNear",
        "summary": "Venues near a point",
        "description": "Public, unauthenticated, cross-tenant geo search, ordered by ascending distance and capped at 50 results.\n\nDeliberately NOT paginated: there is no cursor, and `data.paginated` is always false. A distance-ordered cursor cannot be stable while the caller moves, so the way to see more is a larger `radiusKm`.\n\nThe response is the plain `ok()` envelope: `{\"data\":{\"venues\":[...],\"radiusKm\":...,\"maxResults\":...,\"paginated\":false}}`. Note the items are `NearVenue`, not `VenueSummary`.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "WGS-84 latitude. Missing, blank or non-numeric is a 400 `BAD_REQUEST`; outside -90..90 is a 400 `INVALID_COORDINATES`.",
            "schema": {
              "type": "number",
              "minimum": -90,
              "maximum": 90
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "WGS-84 longitude. Missing, blank or non-numeric is a 400 `BAD_REQUEST`; outside -180..180 is a 400 `INVALID_COORDINATES`.",
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            }
          },
          {
            "name": "radiusKm",
            "in": "query",
            "required": false,
            "description": "Search radius in KILOMETRES — note the name is `radiusKm`, not `radius`. Silently clamped, never rejected: above 50 becomes 50; zero, negative or unparseable becomes the default 10. Always read `data.radiusKm` back to learn what was actually searched.",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "description": "Keep only venues with an ACTIVE resource for this sport. A value outside the enum is a 400 `BAD_REQUEST`.",
            "schema": {
              "$ref": "#/components/schemas/SportType"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum venues to return; the server takes min(limit, 50) and defaults to 20 when omitted. Unlike `/venues`, this value is NOT sanitised — a non-numeric or negative `limit` reaches the SQL LIMIT and surfaces as a 500. Send a positive integer or omit it.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Venues within the (possibly clamped) radius, nearest first.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NearVenueResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` when `lat`/`lng` is absent, blank or not a finite number, or `sport` is not a SportType value; `INVALID_COORDINATES` when a coordinate parses but falls outside -90..90 / -180..180.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`. Reachable by an out-of-enum `sport` or a `limit` that is not a positive integer, both of which reach the database unvalidated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{id}": {
      "get": {
        "operationId": "getVenue",
        "summary": "Venue detail",
        "description": "Public, unauthenticated, cross-tenant venue detail. Wrapped in the `ok()` envelope: `{\"data\": VenueDetail}`.\n\nBy id, never by slug: slugs are unique only within a tenant, so two clubs can both own `central-courts` and a public slug route could not say which it meant. Ids come from `GET /venues` or `GET /venues/near`.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The venue's cuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The venue.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VenueDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — no venue with that id, or the venue is not ACTIVE. A suspended club is indistinguishable from a non-existent one here, deliberately. The body is the error envelope, never `{\"data\":null}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{id}/availability": {
      "get": {
        "operationId": "getVenueAvailability",
        "summary": "Bookable slots for a venue",
        "description": "Public, unauthenticated, cross-tenant. Materialises every candidate slot in a time window for each ACTIVE resource of the venue, including the ones already taken (`available: false`), so a grid can grey them out instead of implying the club is shut. Wrapped in the `ok()` envelope: `{\"data\": VenueAvailability}`.\n\nCHOOSING THE WINDOW — three mutually exclusive forms, resolved by `_lib/range.ts`:\n\n1. `?date=YYYY-MM-DD` (optionally with `?days=`) — the calendar date AT THE CLUB. Both ends are resolved against the VENUE's timezone (each local midnight against that date's real UTC offset), so a window spanning a DST changeover is still a whole number of local days. This exists so a client never computes the window with the DEVICE's calendar: a player in London tapping \"Thursday\" for a Sofia court would otherwise ask for a window shifted by two hours at both ends, with nothing reporting an error.\n2. `?from=` and/or `?to=` — absolute instants, for a caller that genuinely means instants. `from` alone implies `to = from + 24h`; `to` alone implies `from = now`.\n3. Neither — the window is `now` to `now + 24h`.\n\nSending `date` together with `from` or `to` is a 400 rather than a silent preference for one of them. `days` is only read in form 1; with `from`/`to` it is ignored silently.\n\nThe window is capped at 14 days (plus one hour of DST tolerance). `days` cannot exceed that, so `RANGE_TOO_WIDE` is only reachable through `from`/`to`.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The venue's cuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "A calendar date, `YYYY-MM-DD`, interpreted in the VENUE's timezone (not UTC, and not the device's zone). The window runs from local midnight on this date to local midnight `days` later. Mutually exclusive with `from`/`to`.",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of whole VENUE-LOCAL days from `date`. Only meaningful alongside `date` — silently ignored otherwise. Must be an integer 1..14; anything else (including 0, 2.5 or an empty value) is a 400 `BAD_REQUEST`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 14,
              "default": 1
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Absolute start instant, RFC 3339. Mutually exclusive with `date`. Defaults to now when only `to` is given. Parsed with JavaScript `new Date()`, so it also accepts looser forms — notably a bare `YYYY-MM-DD`, which is read as UTC midnight and NOT as a venue-local date; use `date` for that.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Exclusive end instant, RFC 3339. Mutually exclusive with `date`. Defaults to `from + 24h`. Must be strictly after `from`, otherwise 400 `BAD_REQUEST`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": false,
            "description": "Restrict the response to one resource of this venue. An id that does not belong to the venue (or is not ACTIVE) yields a 200 with an empty `resources` array, not a 404.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resolved window and one slot list per ACTIVE resource.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VenueAvailability"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` for a malformed window: `date` combined with `from`/`to`, a `date` that is not `YYYY-MM-DD`, a `days` outside 1..14 or non-integer, an unparseable `from`/`to`, or `to` not after `from`. `error.details` then carries `{\"field\": \"date\"|\"days\"|\"from\"|\"to\"}`.\n\n`RANGE_TOO_WIDE` when the resolved window exceeds 14 days (plus one hour of DST tolerance) — only reachable via `from`/`to`, and only when the venue has at least one matching ACTIVE resource, since the ceiling is enforced while materialising slots.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — no ACTIVE venue with that id. Checked BEFORE the window is parsed, so a bad date on a missing venue reports the missing venue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`INTERNAL`. Besides ordinary failures, the server refuses to answer rather than report availability from a truncated booking list if the window somehow contains more than 50,000 slot-holding bookings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{id}/usage-events": {
      "post": {
        "operationId": "postVenueUsageEvent",
        "summary": "Count a funnel step only the browser sees",
        "description": "The venue page's one-line beacon (#371): `{\"event\": \"SLOT_PICKED\"}` when a time is picked, `{\"event\": \"SHEET_OPENED\"}` when the confirm sheet opens. Every other usage event is counted on the server where it already happens.\n\n**Anonymous by construction.** The body is the event's name and nothing else. The web client sends it with `credentials: 'omit'`, so not even the session cookie comes along; the route reads no cookie, sets none, and stores no user, IP address or user agent. The user agent is read only to skip crawlers. What is stored is a daily counter per venue (`usage_daily`, P49).\n\n**Always 204**, whatever the body and whether or not the venue exists or is public, so the answer reveals nothing; an unknown or hidden venue simply counts nothing. The count is written after the response.\n\nRate-limited per caller in its own bucket (`usage-beacon`), so picking many times never spends the budget a booking draws on.",
        "tags": ["Venues"],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The venue's cuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageEventRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Accepted, or ignored. Nothing to read."
          },
          "429": {
            "description": "`RATE_LIMITED` — too many beacons from this caller in a minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/bookings": {
      "get": {
        "operationId": "listBookings",
        "summary": "List my bookings at this club",
        "description": "The caller's OWN bookings at `{slug}`, newest first (ordered by `startTs` descending, then `id` descending).\n\nOwnership is enforced in the SQL `WHERE` clause (`bookedByUserId = ctx.userId`), not filtered after the read. Staff permissions do NOT widen this route — `bookings.view_all` has no effect here; a club admin wanting every booking needs a different route.\n\nPagination is KEYSET, not offset. `nextCursor` is the `id` of the last item on the page; pass it back verbatim as `cursor` and never parse it. `nextCursor` is `null` on the last page.\n\nResponse is WRAPPED twice: `{\"data\":{\"items\":[...],\"nextCursor\":...}}`.\n\nThis route is NOT rate-limited (the wrapper only limits POST/PUT/PATCH/DELETE), so there is no 429 here.\n\nA caller who holds NO membership at `{slug}` gets **200 with an empty list**, not a 403 — whether you belong to a club is not something this endpoint should confirm, and the answer is identical to that of a member with no bookings. Listing never creates a membership.\n\nMembership is resolved against the DATABASE, not the session token. A native token carries no membership list at all, and a web token only the clubs it was signed in with, so a player who joined a club since — by booking there — still sees their bookings at it. A club that is not ACTIVE lists nothing, the same as a club you do not belong to.",
        "tags": ["Bookings"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug, e.g. `sofia-padel`. A caller with no membership there gets an empty list rather than an error — see the description.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Clamped server-side: anything absent, non-numeric, or less than 1 becomes 20; anything above 100 becomes 100. An out-of-range value is silently clamped, never rejected.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque keyset cursor — the `nextCursor` from the previous page, passed back verbatim. Omit for the first page. A cursor that no longer resolves to a row yields an empty page rather than an error.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of the caller's bookings.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`. Stamped on every v1 response, success included.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id; matches `error.requestId` on failures and every server log line for this request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPageEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a token whose session has been revoked (sign-out-everywhere, password change). Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, with a generic message: an unclassified server-side failure. The case this used to name — a truncated token membership list leaving the request with no tenant — no longer exists: the tenant is resolved from the database (#250).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBooking",
        "summary": "Create a booking (confirmed at once, paid at the club)",
        "description": "Creates a booking that is **CONFIRMED at once and paid at the club** (#354, the Sofia pilot): `status` is `CONFIRMED`, `expiresAt` is `null`, and there is nothing to pay in the app — do NOT call checkout, which answers 409 `ONLINE_PAYMENT_DISABLED`. `cancellableUntil` says until when the player may cancel it themselves.\n\nOnly at a club that takes payment online (`VenueOrg.onlinePaymentEnabled`, off for every pilot club and not settable from the app) is the booking instead a PENDING hold for 15 minutes (`expiresAt`) that `POST /t/{slug}/bookings/{id}/checkout` confirms. Branch on `status`, not on an assumption.\n\n**Three no-shows in 90 days block online booking at that club** until its staff lift the block: `403 NO_SHOW_BLOCKED`, with `error.message` in the caller's own language telling them to contact the club. Checked after the idempotent replay, so a retry of a booking made before the block still returns it.\n\n**Each club caps a player's upcoming ONLINE bookings there** (#380; `VenueOrg.maxUpcomingOnlineBookings`, default 3, 1–50, set by the club). A new booking that would exceed it is `409 BOOKING_LIMIT_REACHED` with `details.limit` and `details.upcoming`. Counted: this caller's CONFIRMED (and unexpired PENDING) bookings at this club, made online, whose start is still in the future. Bookings the club made at the desk and recurring series never count, and a booking that has started no longer does. Cancelling one frees a place. Checked after the idempotent replay, so a retry of a booking already made still returns it with 200; parallel requests from one player are serialised, so a burst cannot exceed the cap.\n\n**The start must be in the future.** A span that has already started is 400 `SLOT_NOT_BOOKABLE`.\n\n**The `Idempotency-Key` header is REQUIRED, and the server will not generate one.** Only the client knows that two requests are the same tap; a server-generated key would make every network retry a NEW booking, which is the exact double-charge this exists to prevent. A missing or whitespace-only header is a 400 `BAD_REQUEST` with `details.field = \"Idempotency-Key\"`, before the body is even read.\n\n**201 on a genuine create, 200 on an idempotent replay.** Both carry the identical `{\"data\": Booking}` body, so the client must branch on the STATUS CODE, not the payload, to know whether it created something. The key is unique per `(tenant, idempotencyKey)`: on a replay the stored booking is returned and THE REQUEST BODY IS IGNORED ENTIRELY — reusing a key for a different slot silently returns the first booking. Use a fresh UUID per distinct booking attempt, and reuse it only for retries of that same attempt.\n\n**The body NEVER carries a price.** `totalCents` is computed server-side by the same quoting engine the availability endpoint uses, from the resource's base price, opening hours, step grid and pricing rules. A `price`/`totalCents`/`priceCents` field in the body is silently ignored, not rejected.\n\n**The server does not pre-check whether the slot is free.** A Postgres EXCLUDE constraint arbitrates at INSERT time, so a lost race surfaces as 409 `SLOT_TAKEN` — \"retry with fresh availability\", not \"you did something wrong\". This is deliberately distinct from 400 `SLOT_NOT_BOOKABLE`, which means the club never offered that time at all (outside opening hours, off the step grid, not a whole number of billable units, a start that is not on a whole minute, or an ambiguous wall-clock time on a DST fall-back day) and which retrying unchanged can never fix.\n\n**Booking needs a PLAYER account (#263).** One account is one kind — a player, a club account (one club), or a coach — and booking a court is playing. A club or coach account, or one still waiting for a decision about its kind, is refused with `403 PLAYER_ACCOUNT_REQUIRED` at every slug alike, its own club included: an owner who wants to play books with their player account. The check is on the CALLER, made before the club is looked up, so it says nothing about which clubs exist. `error.message` is already in the caller's own language (their stored `User.locale`); switch on `error.code`.\n\n**Any signed-in player may book at any ACTIVE club — no invitation needed.** If the caller holds no membership at `{slug}`, an ACTIVE `PLAYER` membership is created as part of the booking: you booked a court here, so you are a player here. An EXISTING membership is never modified, so a club OWNER booking their own court is not demoted.\n\nA club that is not ACTIVE and a caller whose membership is SUSPENDED both get the same **404** as an unknown court. Distinguishing them would turn this endpoint into a probe for other clubs, and a suspended member must not be able to undo a moderation decision by booking a court.",
        "tags": ["Bookings"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug. A member must hold `bookings.create` (every role does); a signed-in caller with NO membership is admitted to this one route, because booking is how a player joins a club.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "REQUIRED. A client-generated key (a UUID is the expected form) that identifies this booking ATTEMPT, so that a retry after a network stall returns the original booking instead of creating and charging a second one. Unique per `(tenant, key)`; reusing a key returns the booking it first created, whatever this request's body says. Missing, empty or whitespace-only is a 400.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Which slot, never what it costs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay. A booking already existed for this `(tenant, Idempotency-Key)` and is returned unchanged; nothing was created and nothing will be charged twice. The body is byte-identical in shape to the 201.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingEnvelope"
                }
              }
            }
          },
          "201": {
            "description": "Created. A genuine new booking: `CONFIRMED`, holding the slot until it is played or cancelled (or, at a club that takes payment online, a `PENDING` hold until `expiresAt`).",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "One of:\n\n- `BAD_REQUEST` — the `Idempotency-Key` header is missing/blank (`details.field = \"Idempotency-Key\"`), the body is not JSON, or the body fails validation (#354): `resourceId` missing or blank, `startTs`/`endTs` missing or not an RFC 3339 date-time with an offset, `notes` longer than 500 characters or not a string. `details.field` names the first offending field and `details.issues` lists them all.\n- `SLOT_NOT_BOOKABLE` — the club never offered that span: a start that is not in the future, end not after start, not a whole number of minutes, shorter than `minBookingMinutes`, longer than `maxBookingMinutes`, not a whole number of billable units, a start carrying seconds or fractional seconds, not on the step grid measured FROM OPENING, not inside a single opening window, or an ambiguous local wall clock (the repeated hour on a DST fall-back day). The `message` says which. Retrying the same body can never succeed.\n- `INVALID_BOOKING_SPAN` — mirrors the database CHECK constraint: end not after start, or a span longer than 4 hours.\n- `GUEST_CONTACT_REQUIRED` — a booking must be attributable to someone. Not reachable on this authenticated route (the caller's user id is always supplied); listed because the mapping exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a revoked session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `NO_SHOW_BLOCKED` (#354) — the caller has three or more no-shows at THIS club in the last 90 days, and its staff have not lifted the block. Online booking here is refused; booking at another club is not. `error.message` is in the caller's stored language and tells them to contact the club, which is the only cure — show it. Not retryable.\n\nCode `PLAYER_ACCOUNT_REQUIRED` — the caller is signed in with a club or coach account, or one the #263 migration left undecided. The same answer at every slug; `error.message` is in the caller's stored language. Show it, and offer to sign in with a player account.\n\nCode `FORBIDDEN` — only for a MEMBER whose role lacks `bookings.create`, with `details.requiredPermission = \"bookings.create\"`; no role lacks it today. It comes from the edge middleware (no `requestId`) when the token lists the club with that role, and from the route otherwise. A NON-member player is never refused here: they are joined, or get the 404.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `NOT_FOUND`. No such resource, a resource belonging to another club, or a resource whose venue is not ACTIVE — all three are deliberately indistinguishable, so this cannot probe other clubs' courts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "One of:\n\n- `SLOT_TAKEN` — another player's INSERT won the race for this exact span. The request was fine; the world moved. Refresh availability and offer another slot. Do NOT blind-retry with the same body.\n- `IDEMPOTENCY_RACE` — two requests carrying the SAME `Idempotency-Key` are in flight. Genuinely rare (it needs two concurrent retries of one tap). Re-issue the identical request; the replay path will then find the winner's row and return it with 200.\n- `BOOKING_LIMIT_REACHED` (#380) — the caller already holds this club's cap of upcoming online bookings. `details` is `{\"limit\": <int>, \"upcoming\": <int>}` (`upcoming >= limit`); `error.message` is in the caller's stored language and says to cancel one or contact the club — show it. Not retryable until one of those bookings is cancelled or starts. Unlike `SLOT_TAKEN`, picking another slot does not help.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. The default mutation budget is 60 requests per 60 seconds, keyed by client IP (this route does not supply a user-id resolver, so the budget is shared across ALL v1 mutations from that IP — which behind carrier NAT is shared across users). The body is the canonical `Error` envelope and omits `error.requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying, minimum 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests permitted per window (60).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Always `0` on this response.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, with a generic message — the server fails closed on disclosure for anything unclassified: an unmapped database or infrastructure failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/bookings/{id}/cancel": {
      "post": {
        "operationId": "cancelBooking",
        "summary": "Cancel a booking and quote its refund",
        "description": "Cancels a PENDING or CONFIRMED booking and returns the refund QUOTE resolved at this instant.\n\n**The player's cutoff (#354).** The booker may cancel until the venue's cutoff before the start (`Booking.cancellableUntil`; default 24 h, set by the club) and never once it has started. After that the answer is 403 `CANCELLATION_CUTOFF_PASSED`, with `error.message` in their own language telling them to contact the club. Staff holding `bookings.view_all` are not bound by it: the club may always cancel.\n\n**A booking paid at the club is quoted nothing** — `refundPercent: 0`, `refundAmountCents: 0` — because nothing was taken online. The club's refund bands apply only to a booking that was actually paid online.\n\n**This endpoint does not move money.** It sets the booking to CANCELLED, writes a Cancellation receipt with the resolved percentage frozen onto it, and returns what that receipt says. Issuing the actual Stripe refund is a separate operation. A client must not tell the user \"refunded\" — only \"refund of X due\".\n\n**Ownership is checked here, not by the permission.** `bookings.cancel` is held by every PLAYER, so the permission check only establishes that the caller may cancel SOMETHING at this club. This handler then loads the caller's OWN booking — unless they hold `bookings.view_all`, in which case staff may cancel on a player's behalf (the front desk taking a phone call). Someone else's booking answers 404, never 403: a 403 would confirm the booking exists and let a club's reservations be enumerated one id at a time.\n\n**Cancelling twice is a 409, not a no-op.** Each call writes a fresh Cancellation row and recomputes the refund from the CURRENT hours-until-start, so a second call would produce two receipts for one booking that disagree about the amount.\n\nThe request body is optional; a body-less POST is the common case and is not an error.",
        "tags": ["Bookings"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug. The caller must hold an ACTIVE membership there whose role has `bookings.cancel`, checked against the database.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The booking id. Must be the caller's own booking, unless the caller holds `bookings.view_all`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional. A missing body, an empty body, or a body that is not valid JSON are all accepted and treated as \"no reason given\" — requiring JSON for a plain \"cancel\" tap would be ceremony. A non-string `reason` is silently ignored rather than rejected.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled. The body is the refund quote that was written onto the Cancellation receipt.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelQuoteEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a revoked session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `CANCELLATION_CUTOFF_PASSED` (#354) — the caller is the PLAYER and the venue's cutoff has passed, or the booking has started. `error.message` is in their stored language and tells them to contact the club; the booking is unchanged. Not retryable by the player.\n\nCode `FORBIDDEN`, message `Forbidden`. The caller holds no ACTIVE membership at `{slug}` — which is also the answer for a club that does not exist: the two are deliberately indistinguishable, so this cannot be used to enumerate tenants. Since #250 this comes from the ROUTE (the request context, before the handler body runs), so it carries a `requestId` and the `x-request-id` header; the edge middleware no longer decides membership. A MEMBER lacking `bookings.cancel` gets the same code with `details.requiredPermission = \"bookings.cancel\"` (from the edge when the token lists the club with that role, with no `requestId`). Cancelling SOMEONE ELSE'S booking is a 404, not a 403.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `NOT_FOUND`. No such booking at this club, or a booking that is not the caller's (and the caller is not staff). The two are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Code `CONFLICT`. Either the booking is already CANCELLED (`This booking is already cancelled`), or it is in a state that cannot be cancelled at all — COMPLETED or NO_SHOW (`A completed booking cannot be cancelled`). Only PENDING and CONFIRMED are cancellable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. 60 mutations per 60 seconds, keyed by client IP and shared across all v1 mutations from that IP. The body is the canonical `Error` envelope and omits `error.requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying, minimum 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests permitted per window (60).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Always `0` on this response.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message: any unmapped failure while writing the cancellation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/bookings/{id}/checkout": {
      "post": {
        "operationId": "checkoutBooking",
        "summary": "Pay for a booking (wallet, card, or both)",
        "description": "**Off unless the club takes payment online (#354).** In the Sofia pilot every booking is CONFIRMED when it is made and paid at the club, and this answers 409 `ONLINE_PAYMENT_DISABLED` before anything else — a client should not call it at all. What follows describes a club with `onlinePaymentEnabled`.\n\nStarts payment for a PENDING booking. Credit is spent first, and only the remainder is charged to a card.\n\n**Read `confirmed` before doing anything else.**\n\n- `confirmed: true` — wallet credit covered the whole price. `cardDueCents` is 0 and `paymentIntentId` / `clientSecret` are both `null`. The booking has ALREADY been confirmed inline by this call. **Do NOT present a PaymentSheet**; go straight to the success screen. (No zero-amount PaymentIntent is created, because Stripe rejects those — and without this inline confirmation there would be no `payment_intent.succeeded` webhook, so a fully-credit-paid booking would sit PENDING until its slot expired.)\n- `confirmed: false` — `cardDueCents` is greater than 0 and `clientSecret` is non-null. Present the PaymentSheet with `clientSecret` and `publishableKey`. The booking is confirmed later, by the Stripe webhook; this response does NOT mean it is paid.\n\n**Show the split.** When `walletAppliedCents > 0` and `cardDueCents > 0`, the card amount is LESS than the booking total. Rendering the card amount alone next to the booking price looks like a bug to the user, which is why both numbers are returned: \"€10.00 from credit, €14.00 on card\".\n\n**`useWallet` is opt-in and strict.** Only the literal JSON `true` spends credit. A missing body, an unparseable body, `false`, `\"true\"`, or `1` all mean card-only — spending someone's credit because a field was omitted would be taking a decision that is theirs.\n\n**Own bookings only, with no staff escape hatch.** Unlike cancel, `bookings.view_all` grants nothing here: a manager must not be able to charge a player's saved card. Someone else's booking answers 404, not 403.\n\nCalling this twice on the same booking is safe on the card path — the Stripe idempotency key is derived from `booking id + amount due`, so a second tap returns the SAME PaymentIntent rather than charging twice.",
        "tags": ["Bookings", "Payments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug. The caller must hold an ACTIVE membership there whose role has `bookings.create` — the permission gating this route, checked against the database; it only establishes that a random member cannot POST it. Ownership is enforced in the handler.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The booking id. Must belong to the calling user; staff permissions do not widen this.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional. A missing, empty or non-JSON body means `useWallet: false` (card only).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout prepared. Branch on `confirmed`: `true` means paid in full from credit and already confirmed (no PaymentSheet); `false` means present the PaymentSheet with `clientSecret`.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a revoked session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Code `FORBIDDEN`, message `Forbidden`. The caller holds no ACTIVE membership at `{slug}` — which is also the answer for a club that does not exist: the two are deliberately indistinguishable, so this cannot be used to enumerate tenants. Since #250 this comes from the ROUTE (the request context, before the handler body runs), so it carries a `requestId` and the `x-request-id` header; the edge middleware no longer decides membership. A MEMBER lacking `bookings.create` gets `details.requiredPermission = \"bookings.create\"`. Paying for someone else's booking is a 404, not a 403.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code `NOT_FOUND`. No such booking at this club, or a booking that is not the caller's — deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "One of:\n\n- `ONLINE_PAYMENT_DISABLED` (#354) — the club takes payment at the club, as every Sofia pilot club does. The booking is already CONFIRMED; there is nothing to pay in the app.\n- `CONFLICT` — the booking is not PENDING. `This booking is already paid for` when it is CONFIRMED; `A cancelled booking cannot be paid for` (or completed / no_show) otherwise. A PENDING booking whose `expiresAt` has passed may also have been released by then.\n- `PAYOUTS_NOT_ENABLED` — the club has not finished Stripe Connect onboarding, so it cannot receive a destination charge. Checked BEFORE a card is requested, so the user is never shown a payment failure caused by the club's incomplete setup. The client cannot fix this; surface it as \"this club can't take payments yet\".",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. 60 mutations per 60 seconds, keyed by client IP and shared across all v1 mutations from that IP. The body is the canonical `Error` envelope and omits `error.requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying, minimum 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests permitted per window (60).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Always `0` on this response.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message. Covers a Stripe API failure while creating the PaymentIntent, and `LedgerIsolationError` (the credit ledger demanded SERIALIZABLE and did not get it) — all deliberately unmapped, so the client learns nothing about internals. Retry is reasonable; the Stripe idempotency key prevents a double charge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/bookings/{id}/review": {
      "post": {
        "operationId": "reviewBooking",
        "summary": "Review the venue a completed booking was at",
        "description": "Leaves a star rating, with optional text, for the venue whose court this booking was on. The venue is DERIVED from the booking; there is no `venueId` to send, so a booking at one venue cannot be used to review another.\n\n**Proof of visit.** The booking must be the caller's own, at this club, and `COMPLETED`. A CONFIRMED booking becomes COMPLETED shortly after its end time; staff can instead mark it `NO_SHOW`, which can never be reviewed. Every failure of that rule is the same `NO_PROOF_OF_VISIT`, so the endpoint cannot be used to learn which bookings exist.\n\n**One review per venue per person.** A second completed booking at a venue the caller has already reviewed is refused with `409 ALREADY_REVIEWED`. It does not create a second review and it does not edit the first.\n\n**Moderation is synchronous.** Text is classified before anything is stored, so a request carrying text can take up to about ten seconds. The response says what happened, and none of it is an error: `PUBLISHED` (visible now, and counted in the venue's rating), `PENDING_REVIEW` (a moderator will decide; not visible and not counted until then), or `REJECTED`. A star-only review has nothing to classify and is `PUBLISHED` at once. If the classifier is unavailable the review is held for a moderator, never published unchecked.",
        "tags": ["Bookings"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The booking's club. The caller must hold an ACTIVE membership there, which booking a court there already created; it is checked against the database.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The booking id. Must be the caller's own COMPLETED booking at this club.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Received. `data.status` says whether it is live (`PUBLISHED`), waiting for a moderator (`PENDING_REVIEW`), or `REJECTED`.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, currently `2026-04-29`.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id for logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`BAD_REQUEST` — the body is not JSON, `rating` is not a number, or `body` is not a string or is longer than 2000 characters (refused, not truncated). `INVALID_RATING` — `rating` is not a whole number from 1 to 5.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or a revoked session. Code `UNAUTHORIZED`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`FORBIDDEN`, message `Forbidden` — the caller holds no ACTIVE membership at `{slug}` — which is also the answer for a club that does not exist: the two are deliberately indistinguishable, so this cannot be used to enumerate tenants. Since #250 this comes from the ROUTE (the request context, before the handler body runs), so it carries a `requestId` and the `x-request-id` header; the edge middleware no longer decides membership. A suspended member is refused the same way: a SUSPENDED membership is not an ACTIVE one. `NO_PROOF_OF_VISIT` — the booking is not the caller's, is not at this club, or is not COMPLETED (including one marked NO_SHOW). Those cases are deliberately indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`NOT_FOUND` — the caller is a member, but the club is no longer ACTIVE (suspended or closed). A caller with no active membership gets the 403 above instead, before the handler runs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`ALREADY_REVIEWED` — the caller has already reviewed this venue, from this booking or another. Show them the review they left rather than offering the form again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Code `RATE_LIMITED`. 60 mutations per 60 seconds, keyed by client IP and shared across all v1 mutations from that IP. The body is the canonical `Error` envelope and omits `error.requestId`; the wait is in the `Retry-After` header.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying, minimum 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests permitted per window (60).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Always `0` on this response.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the window resets.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Code `INTERNAL`, generic message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/me": {
      "get": {
        "operationId": "getTenantMe",
        "summary": "Who am I at this club",
        "tags": ["Tenant"],
        "description": "Resolves the caller's identity **and their membership of the club addressed by `{slug}`**, reading the membership authoritatively from the database rather than from the bearer token's claims — as every tenant route does since #250.\n\n**`tokenStale`.** `true` only when the token LISTS this club with a tenant id or role the database disagrees with: a web session signed in before a promotion or a demotion. That is the one disagreement with a consequence — the edge middleware still refuses, from the listed role, a mutation the new role would allow. It is **not** an error, and the rest of the payload is correct. A native access token lists no clubs, so for the native client it is always `false`: the edge defers every club it does not list to the database, and there is nothing to refresh. (Before #250 it was `true` on every native call, and no refresh could clear it.)\n\n**404, not 403.** When the caller holds no `ACTIVE` membership for this slug the handler answers `404 NOT_FOUND` with the message `Not found.`, deliberately making \"no such club\" and \"you are not a member of it\" indistinguishable, so the endpoint cannot be used to enumerate tenants. The edge middleware no longer answers 403 for a non-member: it cannot tell one from a member whose token does not list the club.\n\nMemberships whose status is not `ACTIVE` (`INVITED`, `SUSPENDED`, `EXPIRED`) are filtered out and therefore also produce a 404.\n\nRead-only; no rate limit applies (the shared wrapper rate-limits mutating methods only).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug, as it appears in `/t/{slug}/…`.",
            "schema": {
              "type": "string",
              "examples": ["slot-club-sofia"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's identity, the club, and the membership held at it.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, e.g. `2026-04-29`. Set on every response from a wrapped v1 route.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "Correlation id, matching the id in the server logs.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "No usable session. Either the edge middleware saw no token (`{\"error\":{\"code\":\"UNAUTHORIZED\",\"message\":\"Authentication required\"}}`), or the token verified but its session row has been revoked/superseded — a password change, a \"sign out everywhere\", a stolen-device eviction — in which case the handler answers `{\"error\":{\"code\":\"UNAUTHORIZED\",\"message\":\"Authentication required.\"}}`. Neither body carries `requestId`. The client should refresh, and re-authenticate if the refresh also fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No `ACTIVE` membership for this user at this slug — which also covers \"no such club\", deliberately indistinguishable. Code `NOT_FOUND`, message `Not found.`; the body carries no `requestId` (the `x-request-id` response header is still set).",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unclassified server-side failure (for example the membership read failing). Code `INTERNAL` with a generic message — details are never disclosed. `requestId` is present and matches the `x-request-id` header.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/t/{slug}/connect/onboarding": {
      "post": {
        "operationId": "startConnectOnboarding",
        "summary": "Start or resume Stripe Connect onboarding",
        "tags": ["Payouts"],
        "description": "Creates the club's Stripe Express connected account if it does not have one, then mints a **fresh, short-lived** Stripe-hosted onboarding link and returns it. Until a club has both a `stripeAccountId` and `payoutsEnabled`, checkout for its bookings fails with `PAYOUTS_NOT_ENABLED`.\n\n**Requires `admin.billing_manage`** — held by `OWNER` and `MANAGER` only. The route-permission table (`/api/v1/t/:slug/connect/*` on any mutating verb) is enforced by the request context against the role the DATABASE holds at this slug, and again in the handler — plus at the edge when the token lists the club. None of them reads the token's flat `permissions` claim.\n\n**No request body.** The handler reads nothing from the body; anything sent is ignored. `return_url` and `refresh_url` are built server-side from `NEXTAUTH_URL` on purpose — a caller-supplied return URL would be an open redirect dressed as the last step of our own flow.\n\n**`payoutsEnabled` is NOT set by this call.** It is echoed from the stored venue row and stays `false` until Stripe's `account.updated` webhook says otherwise. Finishing the onboarding form is not the same as Stripe having accepted the club's identity documents. A client that treats a 200 here, or a return to `?onboarding=complete`, as \"payouts are live\" will show a club it can take money it cannot be paid. Poll `payoutsEnabled` from the club's own state, never infer it from this response.\n\n**Idempotency.** Calling this repeatedly is safe: the stored `stripeAccountId` is reused, and account creation carries a tenant-derived idempotency key so two simultaneous first calls resolve to one Stripe account. Every call returns a *new* `onboardingUrl` (Stripe's links expire), so the URL must not be cached. `created` distinguishes the call that created the account from the ones that reused it.\n\nIt is a POST rather than a GET precisely because the first call has an external, non-reversible side effect that must not sit behind a verb a browser, crawler or prefetcher will follow on its own.\n\nRate-limited as a mutation (see the 429 response).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The club's tenant slug, as it appears in `/t/{slug}/…`.",
            "schema": {
              "type": "string",
              "examples": ["slot-club-sofia"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding started or resumed. Send the admin to `data.onboardingUrl`.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectOnboardingStartResponse"
                }
              }
            }
          },
          "401": {
            "description": "No usable session — either no token at the edge (`UNAUTHORIZED`, `Authentication required`, no `requestId`) or a verified token whose session has been revoked, in which case the handler throws and the body carries `code: \"UNAUTHORIZED\"`, `message: \"Authentication required\"` and a `requestId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not allowed to manage payouts at this club. Code `FORBIDDEN`, message `Forbidden`. For a MEMBER without `admin.billing_manage` — a `STAFF`, `COACH` or `PLAYER` — `details` is `{\"requiredPermission\": \"admin.billing_manage\"}`; that comes from the edge (no `requestId`) when the token lists the club with that role, and from the route otherwise. For a non-member there are no `details`: The caller holds no ACTIVE membership at `{slug}` — which is also the answer for a club that does not exist: the two are deliberately indistinguishable, so this cannot be used to enumerate tenants. Since #250 this comes from the ROUTE (the request context, before the handler body runs), so it carries a `requestId` and the `x-request-id` header; the edge middleware no longer decides membership.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The club row vanished between the membership check and the venue lookup — a deletion racing the request. Code `NOT_FOUND`, message `Resource not found or already deleted`. Genuinely reachable but not client-actionable beyond retrying.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Mutation rate limit exhausted (keyed on client IP plus, where known, user). Code `RATE_LIMITED`. The body is the canonical `Error` envelope, produced by the rate-limit middleware, and carries no `requestId`. Respect `Retry-After` rather than retrying immediately.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying; always at least 1.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch seconds at which the budget resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Stripe rejected or could not be reached (account creation or link creation), Stripe is not configured (`code: \"CONFIGURATION_ERROR\"`), or another unclassified failure (`code: \"INTERNAL\"`). The message is always generic — nothing about the failure is disclosed. Because account creation carries an idempotency key, retrying after a 500 will not orphan a second Stripe account.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/realtime/token": {
      "post": {
        "operationId": "createRealtimeToken",
        "summary": "Mint a short-lived Centrifugo connection token",
        "description": "Returns a 15-minute HS256 JWT the client presents to Centrifugo when opening its WebSocket, together with the broker URL so no second config call is needed.\n\nThe connection is per-PERSON, not per-club: there is no tenant slug in the path, and one socket carries every club the user belongs to. The token carries only `sub`, `iat` and `exp` — it is NOT a capability list. What the holder may actually subscribe to is decided per subscription by Centrifugo's subscribe proxy against the database at subscribe time, so a token minted before the user was removed from a conversation does not keep them reading it. The TTL is the revocation window; a token cannot be revoked, so the client must refresh before `expiresInSeconds` elapses.\n\nThe handler reads no request body. Send an empty POST.\n\nAuthentication is `Authorization: Bearer <jwe>` for a native client; a browser session cookie is equally accepted by the same code path.",
        "tags": ["Realtime"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A token that is valid for `expiresInSeconds` seconds.",
            "headers": {
              "X-API-Version": {
                "description": "Contract version marker, stamped on every wrapped v1 response including successes.",
                "schema": {
                  "type": "string",
                  "examples": ["2026-04-29"]
                }
              },
              "x-request-id": {
                "description": "Correlation id; the same value appears in every server log line for this request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeTokenEnvelope"
                }
              }
            }
          },
          "401": {
[...]
